/* Contact Us page specific CSS Stylesheet. Common styles are taken from main style.css  */

.current-page {
  font-weight: 700;
}

.projects-hero h1 {
  margin-top: 15px;
  margin-bottom: 40px;
}
  
  .form-wrapper {
    margin-left: 10vw;
    margin-right: 10vw;
    height: 500px;
  }

  form {
    height: 100%;
    color: #6B708D;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

  }

  input {
    height: 50px;
    background-color: rgba(107, 112, 141, 0.1);
    border: none;
    padding-left: 20px;
    cursor: text;
  }


  #submit {
    color: #FFF;
    background-color: #072AC8;
    font-weight: 500;
    font-size: 17px;
  }

  form .user-details{
    display: grid;
    grid-template-areas: "name"
                        "email"
                        "phone"
                        "message"
                        "submit";

    margin: 20px 0 12px 0;
  }

  .template-form-div {
    display: flex;
    flex-flow: column nowrap;  
    height: 100%;  
  }

  .name-div {
    grid-area: name;
  }

  .email-div {
    grid-area: email;
  }

  .phone-div {
    grid-area: phone;
  }

  .message-div {
    grid-area: message;
  }

  #msg {
    height: 100px;
  }

  .submit-div {
    grid-area: submit;
  }

  .success-msg {
    background-color: #a8f0c6;
    border-left: 5px solid #178344;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px #ccc;
    height: 15%;
    width: 75%;
    margin: auto;
    position: fixed;
    margin: 21vw 12vw;
    display: none;
  }

  .success-visible {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .success-msg h3 {
    text-align: center;
    color: #02351B;
    font-size: 30px;
  }
  
  /* ------------------------          Starting Media Queries -----------------------------------*/
  
  @media screen and (min-width: 640px) {
  
    .current-page {
      font-weight: 400;
    }

    form .user-details{
        display: grid;
        grid-template-areas: "name name"
                            "email phone"
                            "message message"
                            "submit submit";
    
        margin: 20px 0 12px 0;
        gap: 30px;
      }

      .form-wrapper {
        margin-left: 0;
        margin-right: 0;
      }

  footer {
    margin: 0px 0vw;
  }

  .success-msg {
    margin: 5vw 13vw;
    width: 50%;
  }
  
  }