/*
Color styles

Deep blue: 072AC8
Light blue: 43D2FF
3rd light blue: A2D6F9
4th light blue: D1EDFF

Blakish: 292E47
Grey: 6B708D
Light Grey: F2F4FC
4th Grey: ECF7FF

Yellow: FFC600


Text Styles

Heading H1 60 Bold
Heading H2 50 Bold
Heading H3 40 Bold
Heading H4 24 Bold
Body Intro Text 24 Medium
Body Intro Text 20 Regular
Headline Text 17 Regular
Headline Text 17 Medium
Caption 1 Text 15 Regular
Caption 2 Text 13 Regular

*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');


html {
  font-size: 17px;
  /* line-height: 22.1px; */
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #F2F4FC;
  font-family: 'Roboto';
  font-weight: 300;
  margin: 0px;

      /* TEMP CHANGE */
      height: 3500px;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-align: left;
  /* margin-bottom: 20px; */
  color: #292E47;
  text-align: center;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  color: #292E47;
  margin-bottom: 10px;
}

.navbar {
  height: 70px;
  width: 100vw;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
  height: 52px;
}

.navbar ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}

#top-logo {
  font-weight: 700;
  color: #072AC8;
}

.navbar ul li{
  list-style: none;
}

.navbar a {
  text-decoration: none;
}

#current-page {
  color: #072AC8;
}

.contact-btn {
  display:none;

  background-color: #072AC8;
  padding: 4px 10px;
  width: 150px;
  height: 52px;
  justify-content: center;
  align-items: center;

}


/* Hero Section */

.hero {
  min-height: 1250px;
}

.hero-container {
  width: 100vw;
  height: 40vh;
}

.hero-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "top-left  . "
                       /* ". . ." */
                       ". bottom-right";
  height: 90vh;
  background-image: url(/project-assets/hero-section/hero-image.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center ;
}

.card-1-wrapper {
  grid-area: top-left ;
  min-height: 0;
  position: relative;
  /* max-width: 70%; */

}

.card-2-wrapper {
  grid-area: bottom-right ;
  min-height: 0;
  position: relative;
  /* max-width: 50%; */
}

.hero-card-1 {
  width: 70%;
}

.hero-card-2 {
  position: absolute;
  right: 0px;
  bottom: 0;
  width: 70%;
}



.hero-content {
  margin: 0px 10px;
  gap: 20px;
}



.hero-explain {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin: 0px 0px 20px;
  color: #6B708D;
  font-style: normal;
  line-height: 150%;
}

.visible {
  display: flex;
}

.link-get-touch {
  color: #FFF;
  text-decoration: none;
}

.see-work {
  font-weight: 700;
  font-size: 17px;
  line-height: 22.1px;
  color: #6B708D;
}

.hero-content-bottom-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Client Section */

.client-wrapper {
  display: none;
}

/* Projects Section */ 

.project-container {
  margin-top: 60px;
}

.single-project {
  margin: 10px 10vw 50px 10vw ;
  height: 60vh;
  background-color: #FFF;
}

.project {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.project-img-container {
  background-repeat: no-repeat;
  background-size: cover;
  height: 60%;
}

.project-text {
  margin-left: 10%;

}

.project-description {
  color: #6B708D;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 8vw;
}

.learn-more {
  color: #072AC8;
  font-size: 17px;
  font-weight: 400;
}

#project-img-container-1 {
  background-image: url(/project-assets/projects-section/1.jpg);
}

#project-img-container-2 {
  background-image: url(/project-assets/projects-section/2.jpg);
}

#project-img-container-3 {
  background-image: url(/project-assets/projects-section/3.jpg);
}


/* TEstimonial Section */
.testimonial {
  background-color: #292E47;
  height: 600px;
  }

  .testimonial-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #h3-testimonial {
    color: #F4F6FC;
    margin: 0 25% ;
    padding-top: 50px;
  }

  .text-yellow {
    color: #FFC600;
    margin: 20px 25vw;
    line-height: 38.4px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
  }

  #testimonial-profile {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 20vw;
    gap: 5vw;
  }

  #testimonial-profile-img {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
  }

  #profile-txt-grp p:first-child {
    color: #A2D6F9;
    width: 120px;
    line-height: 1px;
  }

  #profile-txt-grp p:last-child {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #F4F6FC;
  }

/* ------------------------          Starting Media Queries -----------------------------------*/

@media (min-width: 640px) {

  body {
    margin: 0px 12vw;

  }

  .navbar {
    height: 122px;
    margin: 0px 0px;
    width: 100%;
  }

  .nav-wrapper {
    height: 52px;
    margin: 70px 0px 0px;
  }

  .navbar ul {
    align-items: flex-start;
    gap: 40px;
    padding: 0;
  }

  #top-logo {
    padding: 0;
  }

  .contact-btn {
    display:flex;
    }

    .link-contact-us {
      color: #FFF;
      text-decoration: none;
    }

    /* Hero Section */

    .hero {
      /* margin-top: 20px; */
      /* width: 100%; */
      min-height: 500px;
    }

    .hero-container {
      width: 100%;
      display: flex;
      flex-flow: row-reverse nowrap;
      align-items: center;
      height: 650px;
    }

    .hero-img-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "top-left  . "
                           ". ."
                           ". bottom-right";
      height: 100%;

    }

    .hero-content {
      margin: 0px 0px;
      height: 422px;
      width: 80%;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
    }

    .hero-content-bottom-wrapper {
      /* display: flex; */
      flex-direction: row;
      gap: 30px;
    }

    .hero-card-1 {
      width: 70%;
    }

    .hero-card-2 {
      position: absolute;
      right: 0px;
      bottom: 0;
      /* width: 50%; */
    }

    h1, .hero-explain {
      margin: 0;
      text-align: left;
    }
    
/* Client Section */

.client-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
}

.client-logo {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

h3 {
  text-align: left;
}

.projects {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
}

.project-img-container {
  height: 50%;
}

.single-project {
  margin: 0;
  width: -webkit-fill-available;
  height: 50vh;
}

.project-description {
  margin-bottom: 4vw;
}

.project-container {
  margin-top: 140px;
}

/* TEstimonial Section */

.testimonial {
  margin: 12vw 3vw;
}

}

