

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');


html {
  font-size: 17px;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body {
  background-color: #F2F4FC;
  font-family: 'Roboto';
  font-weight: 300;
  margin: 0px;
  height: 100%;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-align: left;
  color: #292E47;
  text-align: center;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  color: #292E47;
  margin-bottom: 10px;
}

.navbar {
  height: 70px;
  width: 100vw;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
  height: 52px;
}

.navbar ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.navbar ul li{
  list-style: none;
}

.navbar a {
  text-decoration: none;
}

.current-page {
  color: #072AC8;
  font-weight: 700;
}

.contact-btn {
  display:none;
  background-color: #072AC8;
  width: 150px;
  height: 52px;
  justify-content: center;
  align-items: center;
}

ul li:hover {
  transform: scale(1.2); 
}


.circle-logo-wrapper {
  position: relative;
}

#circle-logo-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Hero Section */

.hero {
  min-height: 1250px;
}

.hero-container {
  width: 100vw;
  height: 40vh;
}

.hero-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "top-left  . "
                       ". bottom-right";
  height: 90vh;
  background-image: url(/project-assets/hero-section/hero-image.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center ;
}

.card-1-wrapper {
  grid-area: top-left ;
  min-height: 0;
  position: relative;
}

.card-2-wrapper {
  grid-area: bottom-right ;
  min-height: 0;
  position: relative;
}

.hero-card-1 {
  width: 70%;
}

.hero-card-2 {
  position: absolute;
  right: 0px;
  bottom: 0;
  width: 70%;
}

.hero-content {
  margin: 0px 10px;
  gap: 20px;
}

.hero-explain {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin: 0px 0px 20px;
  color: #6B708D;
  font-style: normal;
  line-height: 150%;
}

.visible {
  display: flex;
}

.link-get-touch {
  color: #FFF;
  text-decoration: none;
  padding: 15px 30px;
}

.see-work {
  font-weight: 700;
  font-size: 17px;
  line-height: 22.1px;
  color: #6B708D;
  text-decoration: none;
  margin-top: 16px;
}

.hero-content-bottom-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Client Section */

.client-wrapper {
  display: none;
}

/* Projects Section */ 

.project-container {
  margin-top: 60px;
}

.single-project {
  margin: 10px 10vw 50px 10vw ;
  height: 60vh;
  background-color: #FFF;
}

.project {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.project-img-container {
  background-repeat: no-repeat;
  background-size: cover;
  height: 60%;
}

.project-text {
  margin-left: 10%;

}

.project-description {
  color: #6B708D;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 8vw;
}

.learn-more {
  color: #072AC8;
  font-size: 17px;
  font-weight: 400;
}

#project-img-container-1 {
  background-image: url(/project-assets/projects-section/1.jpg);
}

#project-img-container-2 {
  background-image: url(/project-assets/projects-section/2.jpg);
}

#project-img-container-3 {
  background-image: url(/project-assets/projects-section/3.jpg);
}


/* TEstimonial Section */
.testimonial {
  background-color: #292E47;
  height: 580px;
  margin: 12vw 0;
  }

  
  .testimonial-container {
    position: relative;
    height: 90%;
  }


  .testimonial-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    gap: 25px;
  }


  #h3-testimonial {
    color: #F4F6FC;
    margin: 0 25% ;
    padding-top: 50px;
  }

  .text-yellow {
    color: #FFC600;
    margin: 20px 25vw;
    line-height: 38.4px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
  }

  #testimonial-profile {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 20vw;
    gap: 1vw;
  }

  #testimonial-profile-img {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
  }

  #profile-txt-grp p:first-child {
    color: #A2D6F9;
    width: 120px;
    line-height: 1px;
  }

  #profile-txt-grp p:last-child {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #F4F6FC;
  }

  .emoji {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 106px;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .orbits {
    background-image: url(/project-assets/testimonial-section/orbit.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Services Section */

  .single-service {
    margin: 10px 10vw 50px 10vw;
    height: 40vh;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .service-img-container {
    align-self: flex-start;
    margin-left: 10%;
    border-radius: 50%;
    background-color: #ECF7FF;
    height: 70px;
    width: 70px;
    position: relative;
  }

.svc-img {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 19px;
  left: 19px;
}

.service-description {
  color: #6B708D;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 8vw;
  margin-right: 6vw;
}

/* CTA Section  */

.CTA {
  background-color: #FFC600;
  height: 500px;
}

.CTA-container {
  position: relative;
  top: 50px;
}

.CTA-container p {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 5%;
  margin-bottom: 10%;
}

.CTA-interaction {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 15px;
}

#h3-CTA {
  margin: 0 20vw 6px 20vw;
  text-align: center;
}

.email-input {
  background-image: url(/project-assets/newsletter/icon/mail.svg);
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: center left;
  height: 60px;
  width: 300px;
  padding-left: 50px;
  background-origin: content-box;
  position: relative;
  text-align: center;
  font-weight: 400;
  font-size: 17px;
  line-height: 25.5px;
  background-color: #F4F6FC;
  border: none;
}

.btn-subscribe {
  color: #FFF;
  background-color: #072AC8;
  font-weight: 500;
  font-size: 17px;
  height: 60px;
  width: 358px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

  /* Footer  */

  footer {
    margin: 50px 20vw;
}

  .footer-container {
    height: 240px;
    margin-top: 10vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.footer-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 15px;
}

.address {
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
  }


.footer-links  {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0px;
}

.footer-links  li {
  list-style: none;
  text-align: left;
  width: 30%;
}

.footer-links  li a {
  text-decoration: none;
}

/* ------------------------          Starting Media Queries -----------------------------------*/

@media screen and (min-width: 640px) {

  body {
    margin: 0px 12vw;
  }

  .navbar {
    height: 122px;
    margin: 0px 0px;
    width: 100%;
  }

  .nav-wrapper {
    height: 52px;
    margin: 70px 0px 0px;
  }

  .navbar ul {
    align-items: flex-start;
    gap: 40px;
    padding: 0;
  }

    #contact-btn {
      display:flex;
      background-color: #072AC8;
      width: 150px;
      height: 52px;
      justify-content: center;
      align-items: center;
    }  

    #contact-btn a {
      padding: 15px 32px;
    }  

    .link-contact-us {
      color: #FFF;
      text-decoration: none;
    }

    /* Hero Section */

    .hero {
      min-height: 500px;
    }

    .hero-container {
      width: 100%;
      display: flex;
      flex-flow: row-reverse nowrap;
      align-items: center;
      height: 650px;
    }

    .hero-img-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "top-left  . "
                           ". ."
                           ". bottom-right";
      height: 100%;
    }

    .hero-content {
      margin: 0px 0px;
      height: 422px;
      width: 80%;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
    }

    .hero-content-bottom-wrapper {
      /* display: flex; */
      flex-direction: row;
      gap: 30px;
    }

    .hero-card-1 {
      width: 70%;
    }

    .hero-card-2 {
      position: absolute;
      right: 0px;
      bottom: 0;
    }

    h1, .hero-explain {
      margin: 0;
      text-align: left;
    }
    
/* Client Section */

.client-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 80px 3vw;
}

.client-logo {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

h3 {
  text-align: left;
}

.projects-section {
  margin: auto ;
}

.projects {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
}

.project-img-container {
  height: 50%;
}

.single-project {
  display: block;
  margin: 0;
  width: -webkit-fill-available;
  height: 50vh;
}

.project-description {
  margin-bottom: 4vw;
}

.project-container {
  margin-top: 140px;
}

/* TEstimonial Section */

.testimonial {
  margin-left: -90px;
  margin-right: -90px;
}

.testimonial-text-content {
  gap: 0px;
}

#h3-testimonial {
  margin: 0 20%;
}

.text-yellow {
  margin: 20px 18vw;
}

#testimonial-profile-img {
  width: 3vw;
  height: 3vw;
}

.emoji {
  position: absolute;
  width: 85%;
  height: 92%;
  top: 0;
  bottom: -20px;
  left:0;
  right:0;
  margin: auto; 
}

.emoji-template {
  position: absolute;
  width: 13%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

.emoji-top-left {
  top: 0;
  left: 0;
  background-image: url(/project-assets/testimonial-section/memoji-1.png);
}

.emoji-top-right {
  top: 0;
  right: 0;
  background-image: url(/project-assets/testimonial-section/memoji-2.png);
}

.emoji-bottom-left {
  bottom: 0;
  left: 0;
  background-image: url(/project-assets/testimonial-section/memoji-3.png);
}

.emoji-bottom-right {
  bottom: 0;
  right: 0;
  background-image: url(/project-assets/testimonial-section/memoji-4.png);
}

/* Services Section */ 

.services {
  margin: auto ;
}

.service-img-container {
  margin-top: 2vw;
  margin-left: 8%;
}


.single-service {
  display: block;
  margin: 0;
  width: -webkit-fill-available;
  height: 50vh;
}

.proj-txt {
  margin-left: 8%;
}

.service-description {
  font-size: 18px;
  margin-right: 2vw;
  margin-bottom: 5vw;
}

/* CTA Section */

.CTA-container {
  position: static;
}

.CTA {
  margin: 15vw -90px 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.CTA-interaction {
  flex-flow: row nowrap;
  justify-content: center;
}

/* FOOTER */

footer {
  margin: 0px 7vw;
}

.footer-container {
  flex-flow: row nowrap;
  justify-content: space-between;
}

.footer-content {
  justify-content: space-between;
  height: 100px;
}

.footer-links {
  align-items: stretch;
  height: 100px;
  margin: 0px;
}

}

