/*
Color styles

Deep blue: 072AC8
Light blue: 43D2FF
3rd light blue: A2D6F9
4th light blue: D1EDFF

Blakish: 292E47
Grey: 6B708D
Light Grey: F2F4FC
4th Grey: ECF7FF



Yellow: FFC600


Text Styles

Heading H1 60 Bold
Heading H2 50 Bold
Heading H3 40 Bold
Heading H4 24 Bold
Body Intro Text 24 Medium
Body Intro Text 20 Regular
Headline Text 17 Regular
Headline Text 17 Medium
Caption 1 Text 15 Regular
Caption 2 Text 13 Regular

*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');


html {
  font-size: 17px;
  /* line-height: 22.1px; */
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #F2F4FC;
  font-family: 'Roboto';
  font-weight: 300;
  margin: 0px;

  /*
  padding: 1em;
  max-width: 60em;
  line-height: 1.5;
  color: #2d354c;
*/
}

.navbar {
  /* font-size: 1.7rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 10px;
}

.navbar ul {
  display: flex;
  flex-flow: row wrap;

  align-items: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}

#top-logo {
  font-weight: 700;
  color: #072AC8;
}

.navbar ul li{
  list-style: none;

}

.navbar a {
  text-decoration: none;
}

#contact-btn a {
  color: #F2F4FC;
}

#current-page {
  color: #072AC8;
}

#contact-btn {
  background-color: #072AC8;

  text-align: center;
  display: none;
}


/* Hero Section */

.hero-container {
  width: 100vw;
  height: 40vh;
}

.hero-img-container {
  /* display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
*/

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: "top-left . . "
                       ". . ."
                       ". . bottom-right"; 

  /* width: 100vw;*/
  height: 90vh;


  background-image: url(/project-assets/hero-section/hero-image.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center ;
}

/* .hero-card {
/* width: 100%;
height: 100%;
object-fit: cover; 
min-width: 0;
min-height: 0;
} */

.hero-card-1 {
  background-size: cover ;
  grid-area: top-left ;
  background-image: url(/project-assets/hero-section/card-1.png);
  background-position: center;
  min-height: 0;
  max-width: 100%

}

.hero-card-2 {
  background-size: cover;
  grid-area: bottom-right ;
  background-image: url(/project-assets/hero-section/card-2.png);
  min-height: 0;
  max-width: 100%;
}

/* Starting Media Queries */

@media (min-width: 640px) {


  body {
    /* width: 100vw; */
    margin: 0px 170px;
  }

  .navbar {
    height: 122px;
    /* margin: 0 80px; */

  }

  .navbar ul {
    align-items: flex-start;
    gap: 40px;
    padding: 0;
    height: 52px;
    margin-top: 85px;
    margin-bottom: 15px;
  }


  #top-logo {
    padding: 0;
    margin: 0;
    height: 52px;
    margin-top: 85px;
    margin-bottom: 15px;
  }

  #contact-btn {
    display:block;
    padding: 4px 10px;
    height: 34px;
    margin-top: 81px;
    margin-bottom: 11px;
    }



}

